<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">  
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header -->
   <header>
    <h2>Welcome,🎉</h2>
    <div class="user-menu" id="userMenu">
      <div class="user-icon"></div>
      <div class="dropdown" id="dropdownMenu">
        <a href="/logout">Logout</a>
      </div>
    </div>
  </header>
  <!-- Metrics Section -->
  <%- include('widget') %>
  <!-- Charts -->
 <%- include('chart') %>
  <!-- Footer -->
  <footer>
    Dashboard © 2025
  </footer>
  <script>
 window.onload = function() {
      // Toggle dropdown on user icon click
      const userMenu = document.getElementById('userMenu');
      const dropdownMenu = document.getElementById('dropdownMenu');
      userMenu.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
      });

      // Close dropdown if clicked outside
      document.addEventListener('click', function() {
        dropdownMenu.style.display = 'none';
      });
    }
  </script>
</body>
</html>
